* {
  background-color: lightgray; 
}

@media (max-width: 768px) {
  * {
    font-weight: bold;
  }
}

@media (orientation: landscape) {
  #projects {
    width: 100%;
  }
}

#welcome-section {
  background-color: lightgray;
  text-align: center;
  height: 80vh;
  width: 100vw;
  padding-top: 200px;
}


h2 {
  font-size: 20px;
  font-style: italic;
  text-align:
  center;
}
#navbar {
  background-color: lightgray;
  overflow: hidden;
  position: fixed;
}

#navbar a {
  float: left;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px
}

#navbar a:hover {
  background-color: lightgray;
  color: blue;
}

#navbar a.active {
  background-color: lightgray;
  color: black;
}

#navbar a.visited {
  background-color: blue;
  color: black;
}

#projects {
  height: 50vh;
  width: 100vw;
  background-color: lightgray;
  color: black;
  padding-top: 20px;
}

.project-tile {
  display: flex;
  justify-content: space-evenly;
  height:90%;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.future {
  background-color: lightgray;
  color: black;
}

.contact {
  background-color: lightgray;
  color: black;
}

.a {
  color: blue;
}

#surveypic {
  height: 10%;
  width: auto;
}

#tributepic {
  height: 10%;
  width: auto;
}

#productpic {
  height: 10%;
  width: auto;
}

.project-tile {
  width: 100vw;
  height: 100vh;
}
