* {
  background-color: lightgray; 
}

@media (max-width: 768px) {
  * {
    font-weight: bold;
  }
}

@media (orientation: landscape) {
  #projects {
    width: 100%;
  }
}

#welcome-section {
  background-color: lightgray;
  text-align: center;
  height: 80vh;
  width: 100vw;
  padding-top: 200px;
}


h2 {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

#navbar {
  background-color: lightgray;
  overflow: hidden;
  position: fixed;
}

#navbar a {
  float: left;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px
}

#navbar a:hover {
  background-color: lightgray;
  color: blue;
}

#navbar a.active {
  background-color: lightgray;
  color: black;
}

#navbar a.visited {
  background-color: blue;
  color: black;
}

#projects {
  height: 75vh;
  width: 100vw;
  background-color: lightgray;
  color: black;
  padding-top: 20px;
  margin: auto;
  text-align: enter;
}

.future {
  background-color: lightgray;
  color: black;
  padding-top: 20px;
}

.contact {
  background-color: lightgray;
  color: black;
  padding-top: 20px;
}

a {
  color: blue;
}

img {
  display: block;
}

footer {
  text-align: center;

#surveypic {
  height: 125px;
  width: auto;
  margin-right: 50px;
  margin-left: auto;
}

#tributepic {
  height: 125px;
  width: auto;
  margin-right: 75px;
  margin-left: 75px;
}

#productpic {
  height: 125px;
  width: auto;
  margin-left: 50px;
  margin-right: auto;
}


