* {
  background-color: lightgray;
  color: black;
}

.title, .description {
  text-align: center;
}

.s1, .s2, .s3 {
  display: block;
  padding-top: 10px;
  padding-bottom:10px;
}



textarea {
  display: block;
  background-color: white;
  padding-top: 2px;
}

#submit {
  background-color: black;
  color: white;
}



