* {
  background-color: lightgray;
  color: black;
}

header {
  font-size: 35px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 30px;
}  
  
.return {
  color: blue;
}

  a {
    color: blue;
  }

  a:hover {
    color: black;
  }
